<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Adicione um <br>pensamento novo:</h2>
  </header>
  <!--O FormGroup representa um grupo de dados no formulário. 
    Você pode ter vários grupos em um único formulário, o que facilita e organiza o controle dos dados.
    O FormControlName é uma diretiva que sincroniza os controles em um 
    formGroup através da sincronização por meio do nome da propriedade do formGroup, 
    como fiz com o conteúdo, autoria e modelo.-->
  <form [formGroup]="formulario">
    <label for="pensamento">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="pensamento"
      formControlName="conteudo"
      placeholder="Digite um pensamento"
    >
    <label for="autoria">Autoria ou fonte</label>
    <input
      type="text"
      class="input"
      id="autoria"
      formControlName="autoria"
      placeholder="Digite a autoria ou fonte"
      
    >

    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input type="radio"
          id="modelo1"
          value="modelo1"
          formControlName="modelo"
          
        >
        <div class="custom-radio">
          <span></span>
        </div>
        <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo1.png" alt="Aspas azuis">
          <p class="conteudo">{{ formulario.get('conteudo')?.value }}</p>
          <p class="autoria"><b>{{ formulario.get('autoria')?.value }}</b></p>

        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo2">
          <input type="radio"
          id="modelo2"
          value="modelo2"
          formControlName="modelo"
          
        >
        <div class="custom-radio">
          <span></span>
        </div>
        <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo2.png" alt="Aspas azul claro">
          <p class="conteudo">{{ formulario.get('conteudo')?.value }}</p>
          <p class="autoria"><b>{{ formulario.get('autoria')?.value }}</b></p>

        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo3">
          <input type="radio"
          id="modelo3"
          value="modelo3"
          formControlName="modelo"
        >
        <div class="custom-radio">
          <span></span>
        </div>
        <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo3.png" alt="Aspas verdes">
          <p class="conteudo">{{ formulario.get('conteudo')?.value }}</p>
          <p class="autoria"><b>{{ formulario.get('autoria')?.value }}</b></p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button class="botao" (click)="criarPensamento()">Salvar</button>
      <!--routerLink = com o componente cadastrado, basta apenas informar o nome do componente-->
      <button class="botao" (click)="excluirPensamento()">Cancelar</button>
    </div>
  </form>
</section>
